*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: fr;
  src: url(./fonts/fraulce/Fraunces_9pt_Soft-Bold.ttf);
}
@font-face {
  font-family: br;
  src: url(./fonts/barlow/Barlow-Bold.ttf);
}
@font-face {
  font-family: brRegular;
  src: url(./fonts/barlow/Barlow-Regular.ttf);
}
.container{
  width: 1280px !important;
  margin: auto !important;;
}